/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* weather inspired by http://codepen.io/noahblon/details/lxukH */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  line-height: 1; }

html, body, #main {
  height: 100%;
  width: 100%; }

/*svg {
  display: none; }*/

/* graphic */

/* sun */
.city-sun {
  fill: #ffff90;
}

.city-sunbeams {
  stroke: #ffff90;
  stroke-width: 2px;
}

/* sunny/no-rain stuff */

.no-rain .city-mountains, .no-rain .city-houses-windows, .sunny .city-mountains, .sunny .city-houses-windows {
  fill: #d9f2ff;
}

.no-rain .city-muenster, .sunny .city-muenster {
  fill: #999999;
}

.no-rain .city-houses, .sunny .city-houses {
  fill: #808080;
}

.no-rain .clouds, .sunny .clouds {
  display: none;
}

/* rain & cloudy stuff */

.rain .city-mountains, .cloudy .city-mountains {
  fill: #cccccc;
}

.rain .city-muenster, .cloudy .city-muenster {
  fill: #808080;
}

.rain .city-houses, .cloudy .city-houses {
  fill: #4d4d4d;
}

.rain .city-houses-windows, .cloudy .city-houses-windows {
  fill: #e6e6e6;
}

.no-rain, .sunny {
  background: #58c6ff; }
  .no-rain > .arrow, .sunny > .arrow {
    border-color: transparent transparent #58c6ff transparent; }
  .no-rain .centered, .sunny .centered {
    margin-top: 2em; }

.rain, .cloudy {
  background: #c0c0c0; }
  .rain > .arrow, .cloudy > .arrow {
    border-color: transparent transparent #c0c0c0 transparent; }
  .rain .centered, .cloudy .centered {
    margin-top: 2em; }

/* clouds */

.clouds {
    fill: #888;
  }

.partly-cloudy {
  background: #d0d0d0; 
}

.partly-cloudy > .arrow {
  border-color: transparent transparent #c0c0c0 transparent;
}

.partly-cloudy .city-mountains {
  fill: #bbb;
}

.partly-cloudy .city-muenster {
  fill: #909090;
}

.partly-cloudy .city-houses {
  fill: #5d5d5d;
}

.partly-cloudy .city-houses-windows {
  fill: #f6f6f6;
}

.partly-cloudy .city-sun {
  transform: translate(120px, -70px);
}

.partly-cloudy .main-cloud, .cloudy .main-cloud {
  display: block;
}

.cloudy .city-sun {
  display: none;
}

/* fog */

.city-fog {
  display: none;
}

.fog {
  background: #e8e8e8;
}

.fog > .arrow {
  border-color: transparent transparent #e8e8e8 transparent;
}

.fog .city-sun {
  display: none;
}

.fog .city-fog {
  display: block;
}

.fog .city-mountains {
  fill: #d0d0d0;
}

.fog .city-houses-windows {
  fill: #f0f0f0;
}

/*.fog .city-muenster {
  filter: url('#fogBlurFilter');
}*/

.fog .city-fog:nth-of-type(1) {
  fill: #ddd;
}

.fog .city-fog:nth-of-type(2) {
  fill: #eee;
  fill-opacity: 70%;
}

.fog .city-fog:nth-of-type(3) {
  fill: #dfdfdf;
  fill-opacity: 40%;
}

/* rain */
.rain .raindrops {
  display: block;
}

.raindrop {
  stroke: #f0f0f0; 
}

.arrow {
  width: 0px;
  height: 0px;
  margin: 0 auto;
  position: relative;
  top: -1em;
  border-style: solid;
  border-width: 0 1em 1em 1em;
  border-color: transparent transparent #ffffff transparent;
  fill: #ffffff; }

.svg.svgclippaths.inlinesvg .rain .weather {
  display: inline; }

/* This parent can be any width and height */
.block {
  margin-top: 0em;
  text-align: center;
  min-height: 100%; }

/* The ghost, nudged to maintain perfect centering */
                       /*.block:before {
content: '';
display: inline-block;
height: 80%;
vertical-align: middle;
margin-right: -0.25em; /* Adjusts for spacing */
/*}*/
.centered {
  display: inline-block;
  /*  vertical-align: middle;*/
  width: 35em; }
  .centered p {
    margin-bottom: 0em; }

.center {
  margin: 0 auto;
  width: 100%; }
  .center p {
    width: 18em; }

.weather {
  shape-rendering: geometric-precision;
  -webkit-transition: opacity 1000ms linear;
  -moz-transition: opacity 1000ms linear;
  -o-transition: opacity 1000ms linear;
  -ms-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear; }

/*g {
  fill: #FFFFFF; }*/

.info {
  background: white; }

section {
  padding-bottom: 2em; }
  section p, section h1 {
    margin: 1em 0 0 1em; }
  section h1 {
    padding: 1em 0 0 0; }
  section .center {
    width: 18em;
    margin-top: -32px; }

footer {
  padding: 1em;
  font-size: 0.7em;
  text-align: center; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }
  footer .arrow {
    fill: #58c6ff; }

  footer li:last-child {
    margin-top: 1em; }

/* animations */

.raindrop, .snowflake {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-duration: 18s;
  -webkit-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-transform-origin: 50% 50%;
  -moz-animation-duration: 18s;
  -moz-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -o-transform-origin: 50% 50%;
  -o-animation-duration: 18s;
  -o-animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  animation-duration: 18s;
  animation-direction: normal;
  fill-opacity: 0;
  -webkit-animation-name: rainFall, fillOpacity2;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-name: rainFall, fillOpacity2;
  -moz-animation-timing-function: ease-in;
  -o-animation-name: rainFall, fillOpacity2;
  -o-animation-timing-function: ease-in;
  animation-name: rainFall, fillOpacity2;
  animation-timing-function: ease-in;
}

.raindrop {
  -webkit-animation-duration: 1.5s;
}

.raindrop:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

.raindrop:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.raindrop:nth-child(3) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.raindrop:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.snowflake {
  -webkit-animation-duration: 4s;
}

.snowflake:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

.snowflake:nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

.snowflake:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.snowflake:nth-child(4) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.snowflake:nth-child(5) {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s; }

.snowflake:nth-child(6) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.snowflake:nth-child(7) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.city-fog {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-direction: normal;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-transform-origin: 50% 50%;
    -moz-animation-direction: normal;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -o-transform-origin: 50% 50%;
    -o-animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-direction: normal;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.city-fog:nth-of-type(1) {
    -webkit-animation-duration: 18s;
    -moz-animation-duration: 18s;
    -o-animation-duration: 18s;
    -animation-duration: 18s;
    -webkit-animation-name: fogMovement1;
    -moz-animation-name: fogMovement1;
    -o-animation-name: fogMovement1;
    -animation-name: fogMovement1;
}

.city-fog:nth-of-type(2) {
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    -o-animation-duration: 25s;
    -animation-duration: 25s;
    -webkit-animation-name: fogMovement2;
    -moz-animation-name: fogMovement2;
    -o-animation-name: fogMovement2;
    -animation-name: fogMovement2;
}

.city-fog:nth-of-type(3) {
    -webkit-animation-duration: 31s;
    -moz-animation-duration: 31s;
    -o-animation-duration: 31s;
    -animation-duration: 31s;
    -webkit-animation-name: fogMovement3;
    -moz-animation-name: fogMovement3;
    -o-animation-name: fogMovement3;
    -animation-name: fogMovement3;
}

.sunny .city-sun {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@-webkit-keyframes rainFall {
  100% {
    -webkit-transform: translate(130px, 216px); } }

@-moz-keyframes rainFall {
  0% {
    -moz-transform: translate(0, 0); }

  100% {
    -moz-transform: translate(130px, 216px); } }

@-o-keyframes rainFall {
  0% {
    -o-transform: translate(0, 0); }

  100% {
    -o-transform: translate(130px, 216px); } }

@keyframes rainFall {
  0% {
    transform: translate(0, 0); }

  100% {
    transform: translateY(130px, 216px); } }

@-webkit-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  70% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }

@-moz-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  70% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }

@-o-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  70% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }

@keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  70% {
    fill-opacity: 1;
    stroke-opacity: 1; }

  100% {
    fill-opacity: 0;
    stroke-opacity: 0; } }

@-webkit-keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-moz-keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-moz-keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-moz-keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 640px) {
/*  img, .weather {
    max-width: 80%; }

  .weather {
    height: 80%; }

  .no-rain .centered {
    margin-top: 5em; } }*/

  .centered {
    width: 80%;
  }
