<!DOCTYPE html>
<head>
<meta charset="utf-8">
<!-- weather inspired by http://codepen.io/noahblon/details/lxukH -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/screen.css') }}" media="screen, projection" type="text/css">
<link rel="shortcut icon" href="http://xn--schifftszbrn-pcb.ch/static/favicon.ico" />
<meta name = "viewport" content="width=320,initial-scale=1.0, user-scalable = no">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/touch-icon-iphone.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/touch-icon-ipad.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/touch-icon-retina.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
<title>Schiffts z'Bärn? | Beta</title>
</head>
<body class="{{body_classes}}">
<div id="main">
  <div class="block">
    <div class="centered">
      <p class="current-situation">
          {{situation_message}}
      </p>
      {% include 'svg.html' with context %}
<!--             </div> -->
          </div>
        </div> 
      </div>

  <section class="info">
    <div class="arrow"></div>
    <div class="center">
      <h1>Schiffts z'Bärn?</h1>
      {% if rain %}
      <p data-lastupdate="{{last_update}}">{{since_message}}: {{ rain_since }}</p>
      {% else %}
      <p data-lastupdate="{{last_update}}">{{since_message}}: {{ dry_since }}</p>
      {% endif %}
    </div>
  </section>
<div class="arrow"></div>
<footer>
  <ul>
      <li>Uf <a href="http://www.twitter.com/schifftszbaern">Twitter</a></li>
      <li>Uf <a href="https://github.com/chrigu/schifftszbaern">GitHub</a></li>
  </ul>
</footer>
</body>
</html>
